<html>
  <head>
    <title>
      D:\uploadedFiles\34383543b4a8dfa2f8fcc621cf2c757-e179b7b65a647b\p1gkcue7ajou61h4dcve1ihq15hq4.pdf
    </title>
    <style type="text/css">
      <!--
      body { font-family: Arial; font-size: 18.9px }
      .pos { position: absolute; z-index: 0; left: 0px; top: 0px }
      -->
    </style>
  </head>
  <body>
    <nobr
      ><nowrap>
        <div class="pos" id="_0:0" style="top: 0">
          <img
            name="_1100:850"
            src="page_001.jpg"
            height="1100"
            width="850"
            border="0"
            usemap="#Map"
          />
        </div>
        <div class="pos" id="_107:129" style="top: 129; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Center Information</span
          >
        </div>
        <div class="pos" id="_466:129" style="top: 129; left: 466">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Center Logo</span
          >
        </div>
        <div class="pos" id="_107:146" style="top: 146; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Address, telephone,
          </span>
        </div>
        <div class="pos" id="_107:163" style="top: 163; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            etc.</span
          >
        </div>
        <div class="pos" id="_107:344" style="top: 344; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Patient Information</span
          >
        </div>
        <div class="pos" id="_107:378" style="top: 378; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Patient Name:</span
          >
        </div>
        <div class="pos" id="_107:395" style="top: 395; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Patient ID:</span
          >
        </div>
        <div class="pos" id="_107:412" style="top: 412; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Patient D.O.B.:</span
          >
        </div>
        <div class="pos" id="_107:429" style="top: 429; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Study Type:</span
          >
        </div>
        <div class="pos" id="_107:446" style="top: 446; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Referring Phy:</span
          >
        </div>
        <div class="pos" id="_107:463" style="top: 463; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Service Date:</span
          >
        </div>
        <div class="pos" id="_107:479" style="top: 479; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Exam Description:</span
          >
        </div>
        <div class="pos" id="_107:551" style="top: 551; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Reason for Exam:</span
          >
        </div>
        <div class="pos" id="_107:568" style="top: 568; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            One or multiple lines</span
          >
        </div>
        <div class="pos" id="_160:638" style="top: 638; left: 160">
          <span
            id="_14.7"
            style="font-family: Arial; font-size: 14.7px; color: #000000"
          >
            Image</span
          >
        </div>
        <div class="pos" id="_323:638" style="top: 638; left: 323">
          <span
            id="_14.7"
            style="font-family: Arial; font-size: 14.7px; color: #000000"
          >
            Image</span
          >
        </div>
        <div class="pos" id="_485:638" style="top: 638; left: 485">
          <span
            id="_14.7"
            style="font-family: Arial; font-size: 14.7px; color: #000000"
          >
            Image</span
          >
        </div>
        <div class="pos" id="_648:638" style="top: 638; left: 648">
          <span
            id="_14.7"
            style="font-family: Arial; font-size: 14.7px; color: #000000"
          >
            Image</span
          >
        </div>
        <div class="pos" id="_277:778" style="top: 778; left: 277">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Radiologist's Diagnosis to be inserted here</span
          >
        </div>
        <div class="pos" id="_107:944" style="top: 944; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Radiologist's digital signature with date/time stamp or
            "Electronically Signed by:</span
          >
        </div>
        <div class="pos" id="_107:961" style="top: 961; left: 107">
          <span
            id="_13.3"
            style="font-family: Verdana; font-size: 13.3px; color: #323232"
          >
            Radiologist Name, Title, Date Time Stamp.</span
          >
        </div>
        <div class="pos" id="_0:0" style="top: 1100">
          <img
            name="_1100:850"
            src="page_002.jpg"
            height="1100"
            width="850"
            border="0"
            usemap="#Map"
          />
        </div> </nowrap
    ></nobr>
  </body>
</html>
